.github-user img {
    max-height: 100px;
    margin-right: 20px;
  }
  
  .github-user div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .github-user  p{
    margin: 0;
  }

  .btn-secondary{
    width: 80px;
  }